body, html {
	background-color: #ccc;
}

.row {
	position: absolute;
	white-space: nowrap;
	padding-top: 20px;
	top: 20%;
}

.kevin {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_kevin.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.kevin:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_kevin_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.sean {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_sean.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.sean:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_sean_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.burt {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_burt.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.burt:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_burt_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.ethan {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_ethan.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.ethan:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_ethan_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.ryan {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_ryan.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.ryan:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/_ryan_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}