body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Times New Roman", times, serif;
	color: #fff;
}

.menu {
	text-decoration: none;
	color: #fff;
}

.menu:hover {
	text-decoration: line-through;
}

.attribution {
	text-decoration: none;
	color: #fff;
}

.attribution:hover {
	text-decoration: underline;
}

h1 {
	letter-spacing: 5px;
	font-weight: lighter;
	font-style: italic;
	font-size: : 28px
	color: #fff;
}

h2 {
	letter-spacing: 5px;
	font-weight: lighter;
	font-style: italic;
	font-size: 18px
	color: #fff;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 14px helvetica, sans-serif;
	color: #fff;
}

.splash {
	position: relative;
	background: black(0.5);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/backgrounds/011.jpg");
	background-attachment: fixed;
	height: 100%;
}

.page {
	position: absolute;
	background: black(0);
	width: 100%;
	height: 100%;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/backgrounds/005.jpg");
	background-attachment: fixed;
}

.caption {
	position: absolute;
	left: 0;
	top: 22%;
	width: 100%;
	text-align: center;
}

a.caption:hover {
	text-decoration: line-through;
}

.caption span.header {
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 74px;
	font-weight: lighter;
	font-style: italic;
	letter-spacing: 0px;
}

.caption span.subheader {
	min-width: 400px;
	color: #fff;
	padding: 15px;
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
	background-color: #363636;
	opacity: 0.7;
	letter-spacing: 12px;
}

.quotes {
	position: static;
	left: 0;
	width: 100%;
	height: 25%;
	padding-top: 5%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/promo_082017_sq.jpg");
	background-attachment: fixed;
	text-align: right;
	z-index: 99;
}

.quotes span.header {
	color: #fff;
	padding-top: 20px;
	padding-right: 25%;
	font-size: 56px;
	font-weight: lighter;
	font-style: italic;
	letter-spacing: 3px;
	line-height: 50px;
}

.quotes span.footer {
	position: relative;
	width: 100%
	height: 60px;
	color: #F7F7F7;
	padding: 20px;
	margin-left: -10%;
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
	letter-spacing: 6px;
}

.player {
	position: absolute;
	left: 0;
	margin-top: 60px;
	width: 100%;
	text-align: center;
	z-index: 45;
}

.player span.header {
	color: #fff;
	text-align: center;
	font-size: 48px;
	font-weight: lighter;
	font-style: italic;
	letter-spacing: 4px;
	line-height: 36px;
}

.player span.footer {
	position: absolute;
	bottom: -30px;
	width: 100%
	height: 60px;
	color: #F7F7F7;
	padding: -20px;
	margin-left: 10%;
	font-size: 14px;
	font-style: italic;
	font-weight: lighter;
	letter-spacing: 6px;
}

.topbar {
	position: absolute;
	left: 50%
	right: 50%;
	top: 0px;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 0px;
	opacity: 0.75;
	text-align: center;
	background-color: #363636;
	z-index: 20;
}

.arrow {
	position: relative;
	width: 400px;
	height: 200px;
	color: #fff;
	transform: scale(0.35);
	border-radius: 12px;
	background: url(images/scroll2.png);
	display: inline-block;
	z-index: 60;
}

.row {
	white-space: nowrap;
	padding-top: 40px;
}

.kevin {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/kevin.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.kevin:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/kevin_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.sean {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/sean.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.sean:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/sean_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.burt {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/burt.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.burt:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/burt_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.ethan {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/ethan.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.ethan:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/ethan_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.ryan {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/ryan.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}
.ryan:hover {
	width: 260px;
	height: 260px;
	border-radius: 12px;
	background: url(images/ryan_hover.jpg) no-repeat;
	display: inline-block;
	margin-left: 10px;
}